.container
  %h1 Characters

  %table.table
    %thead.thead-dark
      %tr
        %th{scope: "col"} #
        %th{scope: "col"} First
        %th{scope: "col"} Last
        %th{scope: "col"} Handle
    %tbody
      %tr
        %th{scope: "row"} 1
        %td Mark
        %td Otto
        %td @mdo
      %tr
        %th{scope: "row"} 2
        %td Jacob
        %td Thornton
        %td @fat
      %tr
        %th{scope: "row"} 3
        %td Larry
        %td the Bird
        %td @twitter

  %h3 Import Characters
  = form_tag(import_characters_path, name: "upload", id: "uploady",multipart: true, remote: true) do
    .row
      .col-lg-12.col-md-12
        = file_field_tag "file"
      .col-md-11
        = submit_tag "Import", class: "btn btn-primary pull-right", id: "search-form"